<header>
  <div class="logo"><a href="index.html">🌪️ VORTEX</a></div>
  <nav>
    <a href="index.html">Home</a>
    <a href="programs-workout.html">Workout</a>
    <a href="membership-progress.html">Membership & Progress</a>
    <a href="trainer.html">Trainers</a>
    <a href="bmi.html">BMI Calc</a>
    
    <div class="profile-dropdown">
      <input type="checkbox" id="profileToggle">
      <label for="profileToggle">
        <i class="fa-regular fa-circle-user"></i><i class="fa-solid fa-angle-down" style="margin-left: 6px;"></i>
      </label>
      <div class="profile-menu">
        <a href="profile-page.html">Profile</a>
        <a href="login-page.html">Logout</a>
      </div>
    </div>
  </nav>
</header>